@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  background-color: #fafafa;
  flex-grow: 0;
  height: 5440px;
  padding: 0 15px;
  width: 1920px;
  margin: auto;
}

header .nav {
  justify-content: center;
  display: flex;
}

header a {
  text-decoration: none;
}

.nav-acessibilidade {
  border-radius: 12px;
  box-shadow: 1px 2px 8px 0 #e0e7f2;
  flex-grow: 0;
  height: 54px;
  padding: 8px;
  width: 1890px;
}

.nav {
  width: 100%;
}

ul {
  margin: 0;
  justify-content: left;
}

.nav a {
  text-decoration: none;
}

.nav ul {
  margin: 0;
}

.nav-item {
  align-content: center;
  background-color: var(--white-two);
  border-radius: 12px;
  border: solid 1px #eeeeee;
  display: flex;
  flex-grow: 0;
  height: 38px;
  margin: 0 30px 0px 0;
  padding: 12px 39px 11px 36px;
}

.nav-item-texto {
  color: #000000;
  flex-grow: 0;
  font-family: Inter;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  height: 15px;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

.box-header {
  background-color: #01579b;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  flex-grow: 0;
  height: 126px;
  padding: 16px 372px 16px 376.7px;
  width: 1890px;
  display: flex;
}

.section-header-um {
  justify-content: left;
  display: flex;
  width: 50%;
}

.section-header-dois {
  align-items: left;
  width: 50%;
  display: flex;
}

.header-retangulos {
  background-color: #eceff1;
  border-radius: 24px;
  flex-grow: 0;
  height: 94px;
  margin: 0 0 0 30px;
  padding: 13px 15px 13px 16px;
  width: 166px;
  display: flex;
}

.header-retangulos-link {
  width: 125px;
  height: 50px;
  flex-grow: 0;
}

.header-retangulos-link img {
  width: 28px;
  height: 28px;
  flex-grow: 0;
  margin: 0 49px 4px 48px;
  object-fit: contain;
}

.header-retangulos p {
  width: 125px;
  height: 18px;
  flex-grow: 0;
  margin: 4px 0 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.header-barra {
  width: 1890px;
  height: 47px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
  padding: 0 371px;
  background-color: #0277bd;
}

.header-barra-itens {
  align-content: center;
  display: flex;
  color: white;
}

.header-barra-itens a {
  color: white;
}

.header-barra-itens:hover {
  background-color: #01579b;
  display: flex;
}

.header-barra-itens:click {
  color: #01579b;
  background-color: white;
}

.header-barra-itens select {
  color: white;
  background-color: transparent;
  border: 0;
}

.header-barra-itens option {
  color: #01579b
}

.carousel-controls img:hover {
  width: calc(48px + 2px);
}

.carousel-controls img:active {
  width: calc(48px - 1px);
}

.carousel-indicators button {
  display: inline-flex;
  justify-content: center;
  width: 100px;
  height: 8px;
  flex-grow: 0;
  margin: 2px 0 2px 12px;
  background-color: #b3e5fc;
}